extends src/page/layout.pug

block content
    h2 Services
    h3 Configured services
    ul
        each s in data("serviceManager").services
            li(data-service-name=s.serviceName) #{s.serviceName} (Version: #{s.version || "N/A"})
                span(title=s.lastStatusDate)  | Status: #{s.lastStatusReadable}
                a(role="button" class="small" style="margin-left: 1rem") Reinitialize