extends src/page/layout.pug

block content
    h2 Services
    h3 Configured services
    ul
        each s in data("serviceManager").services
            li(data-service-name=s.serviceName) #{s.serviceName}
                span(title=s.lastStatusDate)  | Status: #{s.lastStatusReadable}
                span(title=s.lastRpcStatusDate)  | Status RPC: #{s.lastRpcStatusReadable}
                a(role="button") Refresh TBD